PORT=3000
BACKEND_DOMAIN=localhost
FRONTEND_DOMAIN=localhost

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=myuser
DB_PASSWORD=mypassword
DB_DATABASE=mydb

NODE_ENV=development

AUTH_COOKIE=auth
REFRESH_COOKIE=refresh
AUTH_TOKEN_EXPIRATION=100000
REFRESH_TOKEN_EXPIRATION=100000

JWT_AUTH_SECRETKEY=secret
JWT_REFRESH_SECRETKEY=secret